<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="1.0" value=""/>
    <add key="1.1" value=""/>
    <add key="2.0" value=""/>
    <add key="3.0" value=""/>
    <add key="3.5" value="C:\Windows\Microsoft.NET\Framework64\v3.5\"/>
    <add key="4.0" value=""/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>